<section class="serviceSection">
    <h2>Select Your required servicev</h2>

    <div class="serviceDiv">
        <div class="serviceSubDiv">
            <p>Quick Car Loan</p>

            <div>
                
            </div>

            <ul>
                <li>Used car loan</li>
                <li>New car loan</li>
                <li>commercial Vehical loan</li>
            </ul>

    </div>
<!--     
    <div class="serviceSubDiv" >
        <p>Housing Fianance</p>  

        <ul>
            <li>LAP Case</li>
            <li>Loan against Property</li>
            
        </ul>
    </div>

    <div class="serviceSubDiv">
        <p>Business Loan</p>

        <ul>
            <li>Secure loan</li>
            <li>Unsecure Loan</li>
            <li>Machinery Loan</li>
        </ul>
    </div> -->
    </div>
   
</section>